.outer-div,  .inner-div{
    /* border: 4px solid black; */
    height: 100px;
    width: 100px;    
}

.outer-div{
    display: inline-block;
    margin: 2px;
}

.inner-div{
    display: inline-block;
    border: 2px solid black;
    margin: 2px;
}

.master-div{
    margin-left: 40%;
    margin-top: 5%;
}

.red{
    background-color: red;
}

.blue{
    background-color: blue;
}

#newGameBtn{
    display: none;
}

#currentTurnHeading, #result{
    text-align: center;
}

#newGameBtn{
    margin: auto;
    height: 40px;
    font-size: 25px;
    border-radius: 10px;
}

#currentTurn{
    color: red;
}

#main-heading{
    text-align: center;
    font-size: 50px;
}